body {
  background-image: url("/public/bg.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
#root {
  width: 100%;
  padding: 0 15px;
}
header {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;


  font-family: 'Open Sans', sans-serif;
}

header span {
  color: #707070;
  width: 260px;
  font-size: 26px;
  width: 220px;
  display: inline-block;
  text-decoration: none;
  padding-top: 10px;
}

header span.active {
  color: #fff;
  border-top: 10px solid #fff;
}
header .logo{
    position: absolute;
    left: 15px;
    top: 15px;
}
.ourServices::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 8px;
  background-color: #f5f5f500;
}

.ourServices::-webkit-scrollbar {
  width: 10px;
  border: 1px solid #fff;
}

.ourServices::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 4px rgb(255 250 250);
  background-color: #ffffff;
}
.mainContainer {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  position: relative;
}
.ourServices {
  overflow: auto;
  overflow-x: hidden;
  color: #fff;
  padding: 0 35px 0 25px;
  -webkit-transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  display: block;


  /* display: flex;
  align-items: center;
  justify-content: center; */
}


.ourServices  h1{
    font-size: 96px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mousePointer{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.info{
    background-image: url("/public/bg_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.sections{
  width: 100%;
  text-align: center;
  /* position: absolute;
  top: 100%; */
}

.tabletimg{
  position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    margin-left: -350px;
}

.mobileimg{
  margin-left: -240px; 
}

.sections.active .tabletimg{
	animation: grow 4s linear forwards;
	opacity: 1;
}

@keyframes grow {
	0%, 20% {
		transform: scale(2);
	}
	
	75%, 100% {
		transform: scale(.8);
	}
}

.title1{
  position: absolute;
    left: 50%;
    opacity: 0;
    margin-left: -260px;
}

.title1 h1{
  display: inline;
}

.sections.active .title1{
	animation: grows 4s linear forwards;
	opacity: 1;
}

.sections.active .title1 h1{
  font-size: 70px;
  margin-top: 0;
}

@keyframes grows {
	0%, 20% {
		transform: scale(2);
    bottom:-100%;
	}
	
	75%, 100% {
		transform: scale(.8);
    bottom:72%;
	}
}

.smartimg_Inner{
  margin-left: -500px;
}

.smartimg{
  margin: 0;
}

.sections.active .smartimg{
  animation: grown 4s linear forwards; 
}

@keyframes grown {
	0%, 20% {
		transform: scale(2);
    bottom:-100%;
	}
	
	75%, 100% {
		transform: scale(.2);
    bottom:85%;
	}
}


.dairyimg{
  position: absolute;
  transition: all 5s ease;
  right: -420px;
  opacity: 0;
  bottom: 20px;
  width: 300px;
}

.sections.active .dairyimg{
  animation: mymove 5s linear;
  transition-delay: 1s;
  /* bottom: -860px; */
  margin-right: 36%;
  opacity: 1;
  right: 0;
}


.blocksection.page1 {
  background: gray;
  /* top: 0;
  left: 0;
  position: absolute; */
}

.blocksection.page2 {
  background: rgba(255, 255, 0, 0.932);
  top: 100%;
  left: 0;
  position: absolute;
}

.blocksection.page3 {
  background: rgb(117, 207, 0);
  top: 200%;
  left: 0;
  position: absolute;
}

.blocksection.page4 {
  background: rgb(196, 0, 179);
  top: 300%;
  left: 0;
  position: absolute;
}

.content .blocksection {
  width: 100%;
  height: 100%;
}
/* .main section {
  overflow: hidden;
} */

/* @keyframes mymove {
  from {left: 0px;}
  to {left: 0;}
} */

